<!DOCTYPE html>
<!--

  _______   _       _                                          __   _
 |__   __| | |     (_)                                        / _| | |
    | |    | |__    _   _ __     __ _    ___   _ __    __ _  | |_  | |_
    | |    | '_ \  | | | '_ \   / _` |  / __| | '__|  / _` | |  _| | __|
    | |    | | | | | | | | | | | (_| | | (__  | |    | (_| | | |   | |_
    |_|    |_| |_| |_| |_| |_|  \__, |  \___| |_|     \__,_| |_|    \__|
                                   | |
                                   |_|

  Want to be part of an amazing team?
  Get in touch ~ https://www.thinqcraft.com/

-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gcsbrowsertest</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <main class="container mx-auto mt-4">
    <%= yield %>
  </main>
</body>
</html>
